#customers{
	margin-top:30px;
	width: 100%;
	height: 400px;
	.row{
		width: 100%;
	}
	.projectsitem{
		width: 100%;

	}
	h1{

		font-size: 2.5em;
   		 font-weight: bold;
    	text-transform: uppercase;
    	display: inline-block;
    	padding: 15px;
    	position: relative;
    	left: 260px;
    	bottom: 15px;
	}
	img{
		border-radius: 70%;
	}
	h3{
			font-size: 1.5em;
		    position: relative;
    		left: 60px;
    		bottom: 65px;
    	}
    h4{
    	font-size: 1em;
    	color: gray;
   	 	position: relative;
    	bottom: 71px;
   		left: 64px;
    }
    p{
    	position:relative;
    	bottom:50px;
    	font-size: 1.1em;
    	font-family: Georgia;
    	font-style: italic;

    }
}